<main>

    <section class="section-one">
        <div class="container">
            <div class="container__flex">
                <img class="viajera-img" src="../../../assets/img/nosotros/viajera.png" alt="Viajera en aeropuerto">
                <div>
                    <h2>¿Quines somos?</h2>
                    <div class="p-container-two">
                        <p>Somos Departure, una empresa con amplia trayectoria en la venta y planificacion de
                            paquetes de viajes. Trabajamos en convenio con distintos paises en el mundo para
                            brindarte el mejor servicio y tengas una increible aventura.
                            Nuestro equipo se encuentra a cargo de la organizacion y asesoramiento en el armado
                            de distintos tipos de viajes familiares, escolares y con amigos. Planificamos
                            cientos de viajes cada dia, y dejando a miles de clientes totalmente satisfechos.
                            Contamos con una gran variedad de paquetes de viajes ya armados en los destinos mas
                            populares del mundo: Londres, Tailandia, Paris, Machu Pichu, entre otros. Pero
                            nuestra mision no termina aqui, si no encontras el destino que estas buscando te
                            ayudamos a planificar tu viaje soñado desde cero, basandonos en tus expectativas,
                            preferencias y posibilidades.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two">

        <div class="container">
            <h2 class="serviciosTitulo">¿Que te ofrecemos?</h2>
        </div>

        <div class="wrap__container">
            <div class="servicios">
                <img src="../../../assets/img/nosotros/icono-pasajes.svg" alt="Servicio de reserva de pasajes aereos">
                <h3 class="servicioTitulo">Pasajes</h3>
                <p>Selecciona la fecha que más te convenga en tus pasajes de ida y vuelta.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-alojamiento.svg" alt="Servicio de alojamiento en hoteles">
                <h3 class="servicioTitulo">Alojamiento</h3>
                <p>Elegí entre los hoteles que te ofrecemos, con excelentes ubicaciones.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-transporte.svg"
                    alt="Servicio de transporte durante el viaje">
                <h3 class="servicioTitulo">Transporte</h3>
                <p>Te ofrecemos los transportes hasta tu hotel y excursiones.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-excursiones.svg" alt="Servicio de excursiones">
                <h3 class="servicioTitulo">Excursiones</h3>
                <p>Selecciona las mejores excursiones y reserva desde tu casa.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-asistencia.svg" alt="Servicio de asistencia al viajero">
                <h3 class="servicioTitulo">Asiatencia</h3>
                <p>Asistencia al viajero ante cualquier problema durante el viaje.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-guia.svg"
                    alt="Servicio de guías turisticos durante las excursiones">
                <h3 class="servicioTitulo">Guías</h3>
                <p>Servicio de guía turístico durante todas las excursiones del viaje.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-comidas.svg" alt="Servicio de comidas incluidas">
                <h3 class="servicioTitulo">Comidas</h3>
                <p>Las comidas dentro del viaje se encuentran totalmente incluidas.</p>
            </div>
            <div class="servicios">
                <img src="../../../assets//img/nosotros/icono-planificacion.svg"
                    alt="Servicio de planificacion total de tu viaje">
                <h3 class="servicioTitulo">Planificación</h3>
                <p>Ofrecemos varios paquetes o nuestra ayuda para planificar tu viaje</p>
            </div>
        </div>

    </section>

    <section class="section-three">

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><img src="../../../assets/img/nosotros/slider-ciudad-one.jpg" alt="ciudad"></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/img/nosotros/slider-paisaje-atardecer.jpg" alt="atardecer"></ng-template>  
          <ng-template carouselSlide><img src="../../../assets/img/nosotros/slider-paisaje-montañas.jpg" alt="montañas"></ng-template>
          <ng-template carouselSlide><img src="../../../assets/img/nosotros/slider-paisaje-volcano.jpg" alt="volcan"></ng-template>
        </owl-carousel-o>

    </section>





    <section class="section-four">

        <div class="wrap__container">
            <div class="containerTel">
                <img class="contactImg" src="../../../assets//img/nosotros/icono-tel.svg" alt="telefono de contacto">
                <span class="contactInfo">11-5678-1234</span>
            </div>

            <div class="containerMail">
                <img class="contactImg" src="../../../assets//img/nosotros/icono-mail.svg" alt="mail de contacto">
                <span class="contactInfo">departure@gmail.com</span>
            </div>
        </div>

        <div class="container__flex">
            <a class="button" routerLink="destinos">Ver los destinos</a>
            <a class="button" routerLink="contacto">Planificar mi viaje</a>
        </div>


    </section>

</main>
