<footer>
    <div class="container__flex-sb mid">
        <div class="container__flex"><a href="/"><img class="logo" src="../../../assets/img/index/Logo.png" alt="Logotipo Departure"></a>
        </div>
        <div class="container__flex">
            <a href="https://www.facebook.com" target="_blank"><img class="social-icon" src="../../../assets/img/index/Facebook.svg" alt="Facebook logo"></a>
            <a href="https://www.instagram.com" target="_blank"><img class="social-icon" src="../../../assets/img/index/Instagram.svg" alt="Instagram logo"></a>
            <a href="https://www.twitter.com" target="_blank"><img class="social-icon" src="../../../assets/img/index/Twitter.svg" alt="Twitter logo"></a>
            <a href="https://web.whatsapp.com" target="_blank"><img class="social-icon" src="../../../assets/img/index/Whatsapp.svg" alt="Whatsapp logo"></a>
        </div>
        <div class="container__flex">
            <div class="container-legal">
                <p>Departure, viajes y excursiones por el mundo</p>
                <a class="Legal-text" href="#">Politicas de servicio</a>
                <a class="Legal-text" href="#" target="_blank">Creditos</a>
            </div>
        </div>
    </div>
</footer>