<nav>
    <div class="container__flex-sb">
        <div class="logo-container">
            <a href="index.html"><img src="../../../assets/img/index/Logo.png" alt="Logotipo Departure"></a>
        </div>
        <div class="container-nav">
            <ul>
                <li><a class="navLink inicio" routerLink="inicio" >Inicio</a></li>
                <li><a class="navLink destinos" routerLink="destinos" >Destinos</a></li>
                <li><a class="navLink nosotros" routerLink="nosotros" >Nosotros</a></li>
                <li><a class="navLink planificar" routerLink="contacto" >Planificar</a></li>
            </ul>
        </div>
        <div class="ham">
            <label for="ham-menu"><img src="../../../assets/img/index/ham-menu.svg" alt="menu responsive"></label>
        </div>
        <input class="ham-input" type="checkbox" name="ham-menu" id="ham-menu">
        <ul class="nav-responsive">
            <li><a routerLink="inicio">Inicio</a></li>
            <li><a routerLink="destinos">Destinos</a></li>
            <li><a routerLink="nosotros">Nosotros</a></li>
            <li><a routerLink="contacto">Planificar</a></li>
        </ul>
    </div>
    <div class="linea-nav"></div>
</nav>