<nav>
    <div class="container__flex-sb">
        <div class="logo-container">
            <a href="/"><img src="../../../assets/img/index/Logo.png" alt="Logotipo Departure"></a>
        </div>
        <div class="container-nav">
            <ul>
                <li><a class="navLink inicio" routerLink="inicio" >Inicio</a></li>
                <li><a class="navLink destinos" routerLink="destinos" >Destinos</a></li>
                <li><a class="navLink nosotros" routerLink="nosotros" >Nosotros</a></li>
                <li><a class="navLink planificar" routerLink="contacto" >Planificar</a></li>
            </ul>
        </div>
        <div class="ham">
            <img src="../../../assets/img/index/ham-menu.svg" alt="menu responsive">
        </div>
        <ul class="nav-responsive">
            <li><a class="navLink inicio" routerLink="inicio" >Inicio</a></li>
            <li><a class="navLink destinos" routerLink="destinos" >Destinos</a></li>
            <li><a class="navLink nosotros" routerLink="nosotros" >Nosotros</a></li>
            <li><a class="navLink planificar" routerLink="contacto" >Planificar</a></li>
        </ul>
    </div>
    <div class="linea-nav"></div>
</nav>