.navLink.destinos{
    color: #C3374F;
}

header{
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-image: url(../../assets/img/destinos/banner-montaña.jpg);
    background-size: cover;
    background-position-x: 0%;
}

h1{
    font-family: DMSerif, serif;
    font-size: 64px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin: 0px 20px;
    padding-top: 130px;
}


.header__p-container{
    max-width: 488px;
    margin: 0px 20px;
}

.header__p{
    font-family: RalewayRegular, sans-serif;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: -0.017em;
}


/* --------------------SECTION ONE--------------------  */

.section-one{
    background-image: url("/img/destinos/bosque-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 40px;
}


.btn__continente{
    width: 90px;
    height: 30px;
    font-family: RalewayBold, sans-serif;
    font-size: 12px;
    color:black;
    border-radius: 5px;
    border: solid #C3374F 2px;
    background:#ffffff;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.btn__continente.active{
    background:#C3374F;
    color: white;
}

.btn__continente:hover{
    background:#C3374F;
    color:white;
    transition-property: background, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.btn__continente:active{
    transform: scale(0.9);
    transform-origin: center;
}

.btn__continente:focus{
    background:#C3374F;
    color: white;
}

.a-button{
    display: inline-block;
    font-family: RalewayBold, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color:black;
    border-radius: 5px;
    padding: 6px 30px;
    border: solid #C3374F 2px;
    margin-left: 20px;
    margin-top: 20px;
}

.a-button.card{
    margin-left: 10px;
    margin-top: 0px;
}

.a-button:hover{
    background:#C3374F;
    color:white;
    transition-property: background, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
.a-button:active{
    transform-origin: center;
    transform: scale(0.92);
}





span{
    font-family:DMSerif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: -0.017em;
}

.buttonPlanificar{
    display: inline-block;
    padding: 10px 30px;
    background:none;
    border: solid #C3374F 2px;
    border-radius: 5px;
    color: black;
    font-family: RalewayBold, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 64%);
    backdrop-filter: blur(5px);
    margin-left: 20px;
}

.buttonPlanificar:hover{
    background:#C3374F;
    color:white;
    transition-property: background, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.buttonPlanificar:active{
    transform-origin: center;
    transform: scale(0.92);
}

@media (max-width:1200px){
    header{
        height: 500px;
    }
    h1{
        font-size: 58px;
        padding-top: 100px;
    }
}

@media (max-width:790px){
    header{
        height: 400px;
    }
}

@media (max-width:485px){
    header{
        height: 300px;
    }
    h1{
        font-size: 30px;
        padding-top: 100px;
    }
    .header__p-container{
        max-width: 488px;
    }
    
    .header__p{
        font-size: 10px;
    }
}